img {
     max-width: 100%;
    height: auto;
}
.tilegame {
   max-width: 35%;
    margin: auto;
}
.outlineGrid{
    background-color : black;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 10px;
}
.tilesEven{
    height: 70px;
    background-color:red; 
    margin: 5px;
}
.tilesOdd{
    height: 70px;
    background-color:white; 
    margin: 5px;
}
.col-xs-3{
    width: 24%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-xs-3{
        width: 46%;
    }
}